.card{
    background-color: aqua;
    width: 300px;
    height: 280px;
    background-color: white;
    box-shadow: white;
    margin-right: 20px;
    margin-top: 20px;
}
img{
    height: 163px;    
}
.detail{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.decouvert{
    line-height: 0%;
    margin-left: 25px;
    font-family: sans-serif;
}
.text_{
    font-size: 10px;
}
.prix{
    font-weight: bold;
}