.image{
    text-align: center;
    padding: 5%;
}
input{
    height: 50px;
    width: 175px;
    background-color: white;
    color: black;
    text-align: center;
}
.search{
    width: 200px;
    height: 50px;
    background-color: blueviolet;
    color: white;
}
.part{
    width: 500px;
    padding: 5%;
}
.sup{
    margin-left: 37px;
}
.sup input{
    height: 50px;
    width: 420px;
    background-color: white;
    color: black;
    text-align: center;
}
.bas{
    display: flex;
    justify-content: space-evenly;
}
.inf{
    display: flex;
    justify-content: space-around;
}
.part{
    text-align: left;
}
.content{
    background-color: #f8f8f8;
    margin-top: 60px;
    padding: 35px;
    color: black;
}